* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

#game {
  display: flex;
  flex-flow: column nowrap;
}

#board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#player-name {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 174, 174);
}

#game-status {
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 174, 174);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  width: 50px;
  height: 50px;
}
